{
    "presets": [
        "react",
        "env"
    ],
    "plugins": [
        [
            "transform-builtin-extend",
            {
                "globals": ["Error"]
            }
        ],
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-async-to-bluebird",
        "transform-runtime",
        "add-module-exports",
        "syntax-dynamic-import"
    ]
}
